/* style.css */

.bodyvillager {
    background-image: url('IMG/background/background-villageois.png');
}

.bodyend-gateway {
    background-image: url('IMG/background/background-end-gateway.jpg');
}

.bodyarmor-stand-floating-text {
    background-image: url('IMG/background/background-armor-stand-floating-text.png');
}
.bodyloot-chest {
    background-image: url('IMG/background/background-loot-chest.png');
}


body {
    font-family: Arial, sans-serif;
    background: rgb(86,86,86);
    background: linear-gradient(90deg, rgb(63, 63, 63) 0%, rgb(44, 44, 44) 10%,rgb(44, 44, 44) 90%, rgb(63, 63, 63) 100%);
    backdrop-filter: blur(2px);
}


/* ---------------------------------------------------------------------------------- */

.navbar {
    background-color: #333; 
    border: 0.01em solid white;
    overflow: hidden; 
}


.navbar a {
    float: left; 
    display: block; 
    color: white; 
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd; 
    color: black; 
}

/* ---------------------------------------------------------------------------------- */

.buttoncontainertop {
	display: flex;
	justify-content: center;
}

.buttoncontainertop a {
	text-decoration: none;
}

.buttontop {
	width: 12.5vw;
	height: 12.5vw;
	min-width: 165px;
	min-height: 165px;
	margin: 0 1vw;
	border: 0.3vh solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-block-end: 4vh;
	border-radius: 1.2vh;
}

.buttontop:hover {
	border-color: #424242;
}

.spanbuttontop {
	font-size:calc(10px + 0.8vw);
	font-weight: bold;
	text-align: center;
	background: white;
	border: 0.2vh solid black;
	border-radius: 0.2vh;
    color:black;
}

.spanbuttontop:hover {
	background-color: #d2d2d2;
}

/* ---------------------------------------------------------------------------------- */

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

label {
    display: block;
    font-weight: bold;
}

select, input[type="text"], input[type="number"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-container {
    display: inline-block;
    margin-right: 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

textarea {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* ---------------------------------------------------------------------------------- */
.delete-button {
    background-color: #ff0000;
    color: #fff;
}

.delete-button:hover {
    background-color: #cc0000;
}

.generate-button {
    background-color: #009900;
    color: #fff;
}

.generate-button:hover {
    background-color: #006600; 
}

.spawn-coordinates > label {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.spawn-coordinatesend label {
    display: inline-block;
    width: 35px;
    text-align: right;
    margin-right: 10px;
}

.spawn-coordinatesend input {
    width: 50px;
    text-align: center;
}

#spawnX, #spawnY, #spawnZ {
    display: inline-block;
    vertical-align: top;
    width: 50px;
}
/* ---------------------------------------------------------------------------------- */

.item-container label {
    display: inline-block;
    width: 200px;
    text-align: left;
}

.trade-container label {
    display: block;
    font-weight: bold;
}

.trade-container input[type="text"],
.trade-container input[type="number"],
.trade-container select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.trade-container .item-container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.trade-container select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px
}

/* ---------------------------------------------------------------------------------- */

.output-item-container {
    display: flex;
    align-items: center;
}

.output-item-container label {
    flex: 1;
}

.name-color {
    margin-left: 10px;
}
.lore-container {
    display: flex;
    align-items: center;
}

.lore-container label {
    flex: 1;
}

.lore-color {
    margin-left: 10px;
}

.output-item-color-container {
    display: flex;
    align-items: center;
}

.lore-color-container {
    display: flex;
    align-items: center;
}

/* ---------------------------------------------------------------------------------- */

.villageois {background-image: url('IMG/logo/villager.webp'); background-size: cover;}
.end-gateway {background-image: url('IMG/logo/end-gateway.webp'); background-size: cover;}
.armor-stand-floating-text {background-image: url('IMG/logo/armor-stand.webp'); background-size: cover;}
.loot-chest {background-image: url('IMG/logo/loot-chest.webp'); background-size: cover;}